@model Q42.HueApi.Light

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Light</legend>
	
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.On)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.On)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.Hex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.Hex)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
