@using System.Web.Optimization
@model Q42.HueApi.Light

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Light</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.On)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State.On)
            @Html.ValidationMessageFor(model => model.State.On)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State.Hex)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.State.Hex, new {@class = "minicolors", data_control = "wheel"})
            @Html.ValidationMessageFor(model => model.State.Hex)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
