@model IEnumerable<Q42.HueApi.Light>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Msg</h2>

<p>
    @Html.ActionLink("All On", "AllOn") | @Html.ActionLink("All Off", "AllOff") | @Html.ActionLink("Set Defaults", "SetDefaults")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.On)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.State.On)
        </td>
        <td>
            @Html.ActionLink("Toggle", "Toggle", new { id=item.Id }) |
			 @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>


	<p>@Html.TextBoxFor(m => m.FirstOrDefault().State.Hex, new {@class = "minicolors", data_control = "wheel"})</p>