<% for post in @posts.reverse %>
  <% if admin? %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
	<div class="post">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <h4><%= post.created_at %></h4>
	  <br />
	  <%=h post.body %>
	  <br />
	  <%= link_to post.comments.size.to_s + " comments", post %>
	  <br />
	  <br />
	  <br />
	  <br />

	</div>
<% end %>
