<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
	
	<div id="header">
		<h1><a href="#">MikeDiStaula</a></h1>
		<h2>.com</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="http://www.ccs.neu.edu/" title="Northeastern University College of Computer Science">College Graduate</a></li>
			<li><a href="http://www.flickr.com/search/?q=mikedistaula+OR+distaula+OR+michaeldistaula&z=t&ss=2&ct=0&s=rec" title="Random Pictures from Mike DiStaula">Pictures</a></li>
      <li> <%= link_to 'Blog', posts_path %></li>
			<li><a href="location.html" title="Where am I?">Location</a></li>
		</ul>
	</div>
	<hr />

<div id="page">
	<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>
			<%= yield  %>
	</div>

	<div id="sidebar">
		<ul>

			<li>
				<% if admin? %>
				  <%= link_to 'New post', new_post_path %>
				<% end %>

				<br />
				<p><strong>You are logged in as <%=h user_id %></strong></p>
				<% if logged_in? %>
				  <p><%= link_to 'Logout', logout_path %></p>
				<% else %>
				  <p>
				    <%= link_to 'Login', login_path %> or
				    <%= link_to 'Sign Up', signup_path %>
				  </p>
				<% end %>

			</li>
		</ul>
		<div style="clear: both; height: 40px;">&nbsp;</div>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<hr />

<div id="footer">
	<p>Thanks for stopping by.</p>
</div>

</body>
</html>
